/*  your css code here. If applicable */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.navbar {
    background-color: #D7E8D4;
    flex: 1;
    padding: 1em;
}
.content {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.header, .footer {
    background-color: yellowgreen;
    flex: 1;
    padding: 1em;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex: 4;
}

.article {
    flex: 3;
    padding: 1em;
    min-height: 60vh;
}
.aside {
    flex: 1;
    padding: 1em;
}